@import 'style/variables.scss';

.CalendarGraphic {
  border-collapse: collapse;
  border-radius: 12px;
  overflow: hidden;

  th, td {
    padding:10px 7px;
  }

  th, td {
    background-color: $light-2;
    color: $dark-2;
    border: solid 2px $dark-1;
  }

  th {
   font-size: 12px;   
  }

  td {
    color: $dark-1;
    font-size: 12px;
    font-weight: 800;
    line-height: 1.2;
    text-align: center;
  }

//   .vote {
//     background-color: $dark-accent-2;
//   }

//   .submit {
//     background-color: $light-accent-1;
//   }
}