@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

$dark-accent-3: #A454C9;
$dark-accent-2: #6F2D8D;
$dark-accent-1: #31143e;
$black: #1b1a1a;
$dark-1: #2F2F2F;
$dark-2: #474747;
$dark-3: #707070;
$light-3: #aaa;
$light-2: #e6eeef;
$light-1: #F9F9F9;
$light-accent-1: #78A3AD;
$success: #9EE37D;
$warn: #F2C14E;
$error: #e72653;

@mixin spin($speed) {
  animation: App-logo-spin infinite $speed linear;
}

@mixin galleryTitle {
  width: 90%;
  margin: 20px 0;
  font-size: 20px;
  font-weight: 700;
}

@mixin clearTextInput {
  width: 96%;
  margin: 0 auto 1em;
  padding: .4em;
  border: solid 1px $dark-2;
  border-radius: 5px;
  background: none;
  color: $light-1;
  font-size: 20px;
  box-shadow: inset 0px 0px 8px 0px rgba(170, 170, 170, 0.2);

  &::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: $light-3;
    opacity: 1; /* Firefox */
  }

  &::-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: $light-3;
  }

  &::-ms-input-placeholder { /* Microsoft Edge */
    color: $light-3;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}