@import 'style/variables.scss';

.chart-title {
  @include galleryTitle;
}

.StatChartLoader {
  position: relative;
  width: 90%;
  height: 40%;
  max-width: 500px;
  text-align: left;
}

.hidden-chart {
  display: none;
}