@import 'style/variables.scss';

.SignIn {
  display: flex;
  flex-direction: column;
  margin: 0 30px;

  > button {
    margin-top: 1em;
    margin-right: 0;
  }
}

.sign-in-buttons {
  width: 100%;
  display: flex;
  margin: 0 auto;
  justify-content: flex-start;
  flex-direction: row-reverse;
  > button {
    margin: 0;
    margin-left: 1em;
  }
}

.form-error {
  color: $error;
  font-size: .8em;
  height: .8em;
  padding-right: .2em;
  margin-top: -0.8em;
  margin-bottom: 1em;
}

.SignIn-row {
  margin: .8em .2em 0 .5em;
  width: 100%;
}

.sign-up-text {
  text-align: center;
  width: 100%;
  font-size: .8em;
  margin-top: -1em;
  margin-left: -5em;
}

.sign-in-radio {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-right: .5em;
  font-size: 12px;
}

.sign-in-label {
  white-space: nowrap;
}

.sign-in-field {
 @include clearTextInput;
}