@import 'style/variables.scss';

.search-bar {
  display: flex;
  > input {
    @include clearTextInput;
      margin: 0;
      border-right: 0px;
      border-radius: 5px 0 0 5px;
  }

  > button {
    margin: 0;
    border-radius: 0 10px 10px 0;
    font-size: 20px;
    height: 42px;
  }
}