@import 'style/variables.scss';

.Login {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  
  img {
    @include spin(20s);
    margin-bottom: 60px;
    margin-top: -60px;
  }
}
